<%- include('./partials/header.ejs') %> 
    <section class="login">

        <% //if (locals.messages.errors) { %>
            <% //messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= //el.msg %></div>
            <% //}) %>    
        <% //} %>
        <% //if (locals.messages.info) { %>
            <% //messages.info.forEach( el => { %>
                <div class="alert alert-danger"><%= //el.msg %></div>
            <% //}) %>    
        <% //} %>

        <form action="/login" method="POST" class="login-form">
            <div class="login-wrap">

                <h2 class="h2">Log In</h2>
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Log In </button> 
            </div>
        </form>
    </section>
<%- include('./partials/footer.ejs') %>